#headofpage{
    display: flex;
  justify-content: center;
  text-align: center;
 background-color: #363535;
 border: #cfcfcf;
 content:url(images/TacosAtyoac.png);
 
}

ul {
    color:#363535;
    margin-left: 25%;
    text-decoration: none;
    position: absolute;
    height: 50px;
    text-align: center;
    
  }
  li{
    display: inline;
    padding-top: 20px;
    cursor: pointer;
    padding-right: 30px;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    
    color: black;
}

  li:hover,
  li:active {
    
    color: rgb(255, 255, 255);
  }
  body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
      margin: 0;
      background-color: #363535;
  }
  
#titulo{
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    color: rgb(209, 89, 89);
    
}
#content{
    display: flex; 
    justify-content: center;
    margin: 0 auto;
    border: solid 10px black;
    bottom: 0;
    top: 0;
    height: 100%;
    margin-bottom: 0;
}
span { display: flex; 
    justify-content: center;

}
#Menu{
    display: block;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 25px;
}
.item{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 20px;
    max-width: 300px;
}
#About, #Menu, #Contact {
  margin-top: 100px;
  max-width: 500px;
}
.itemTitle{
  background-color: antiquewhite;
  margin-top: 5px;
}
@media (max-width: 1024px){
  p{
    font-size: 25px;
  }
  .itemTitle{
    font-size:25px;
  }
}
@media (max-width: 768px){
  p{
    font-size: 20px;
  }
  .itemTitle{
    font-size:20px;
  }
}

@media (max-width: 667px){
#headofpage{
  width:150px;
  height:150px;
  margin-top: 200px;
  display: block;
  margin-left: 30%;
  
}
.item{
  width: 300px;
  height:200px;
  font-size: 10px;
  margin-right: 0;

}
#Menu{
  margin-top: 0;
  margin-left: 0;
  clear: both;
}
#titulo{
  font-size: 15px;
 
  height: 200px;
  
  margin-left: 10px;
}
ul{
  width: 250px;
  margin-left: 10px;
  height: 300px;
  font-size: 15px;
}
#content{
  
    flex-direction:  column;
    
 
}
body { overflow-x: hidden;} 
}
